Reading teams and players file in teams and players df

In [1]:
teams <- read.csv(file="teams.csv",head=TRUE,sep=",")

In [2]:
players <- read.csv(file="players.csv",head=TRUE,sep=",")

In [3]:
players

      X     player overall_rating gk_rating leagues appearances
1      1    2625   60             153       1        86
2      2    2752   72              53       1        81
3      3    2768   65             128       1        71
4      4    2770   73             148       2         8
5      5    2790   73             144       1        50
6      6    2796   69             340       1         1
7      7    2802   79             146       2       142
8      8    2805   60             141       1       126
9      9    2857   72             143       1         3
10    10    2862   76             146       1        13
11    11    2907   63             135       1         3
12    12    2973   67             147       1        11
13    13    2977   82             104       1         3
14    14    2983   68             139       1        70
15    15    2984   75             364       1        19
16    16    3140   67             136       1        35
17    17    3204   78             156       1        20
18    18    3263   67             115       1        11
19    19    3264   62              98       1         1
20    20    3316   70             108       1         3
21    21    3329   62             130       1        55
22    22    3377   59             138       1         1
23    23    3441   66             138       1        63
24    24    3512   75             143       1         4
25    25    3517   79             149       1        17
26    26    3520   85             159       1        63
27    27    4747   73             128       1        35
28    28    4863   66              54       1        25
29    29    4902   73             145       1        68
30    30    4939   62             116       1        44
...   ...   ...    ...            ...       ...     ...
11031 11031 701154 65             42        1        1
11032 11032 703659 51             48        1        1
11033 11033 704523 62             43        1        3
11034 11034 705484 52             32        1        3
11035 11035 706985 58             53        1        1
11036 11036 710807 67             47        1        1
11037 11037 715642 59             61        1        1
11038 11038 716998 56             46        1        1
11039 11039 717248 64             59        1        3
11040 11040 717270 61             56        1        1
11041 11041 717557 64             49        1        4
11042 11042 719413 64             54        1        3
11043 11043 720738 55             52        1        5
11044 11044 721133 70             60        1       15
11045 11045 722766 71             36        1       10
11046 11046 723037 53             54        1        7
11047 11047 725718 60             54        1        1
11048 11048 726956 54             41        1        4
11049 11049 728125 50             49        1        2
11050 11050 728414 59             54        1        1
11051 11051 728478 56             54        1        1
11052 11052 730065 57             59        1        1
11053 11053 733787 51             45        1        1
11054 11054 742405 51             56        1        1
11055 11055 743720 50             53        1        1
11056 11056 744907 53             57        1        1
11057 11057 746419 59             42        1        1
11058 11058 748432 58             46        1        1
11059 11059 750435 60             48        1        1
11060 11060 750584 58             54        1        1
      names
1     Patryk Rachwal,18
2     Diego Mainz
3     Jose Dorado
4     Ignacio Gonzalez
5     Alberto Rey
6     Javier Jimenez
7     Pablo Hernandez
8     Ruben Perez
9     Ivan Perez
10    Vicente Sanchez
11    Gregory Lacombe
12    Ugur Inceman
13    David Rivas Rodriguez
14    Jorge Molina
15    Sergio Aragones
16    Alexandre Hauw
17    Marat Izmailov
18    Kelly Berville
19    Abdelmalek Cherrad
20    Oscar Sanchez
21    Vincent Euvrard
22    Luca Belingheri
23    Aleksander Radosavljevic
24    Peter Halmosi
25    Alexandr Kerzhakov
26    Andrey Arshavin
27    Lee Wilkie
28    Boban Grncarov
29    Iriney
30    Tim Clancy
...   ...
11031 Kylian Mbappe Lottin
11032 Colin Trachsel
11033 Christopher Nkunku
11034 Eray Cumart
11035 Jordan Lyden
11036 Jonatan Montiel
11037 Aissa Laidouni
11038 Sebastien Lamonge
11039 Felipe Augusto
11040 Antoine Rabillard
11041 Levi Garcia
11042 Dorian Caddy
11043 Charles Traore
11044 Rafa Soares
11045 Charly Musonda
11046 Wanderson Lima
11047 Dennis van der Heijden
11048 Cedric Itten
11049 Christopher McLaughlin
11050 Justin Hoogma
11051 Kamil Jozwiak
11052 Jorge Intima
11053 Linus Obexer
11054 Tom Davies
11055 Charles Pickel
11056 Greg Taylor
11057 Francisco Afonso
11058 Fynn Arkenberg
11059 Rees Greenwood
11060 Alexandre Azevedo

In [4]:
library(sqldf)

Loading required package: gsubfn
Loading required package: proto
Could not load tcltk.  Will use slower R code instead.
Loading required package: RSQLite

top 10 players by overall rating

In [5]:
sqldf("select names, overall_rating from players order by overall_rating desc")[1:10,]

Warning message:
"Quoted identifiers should have class SQL, use DBI::SQL() if the caller performs the quoting."

   names             overall_rating
1  Gregory Coupet    92
2  Iker Casillas     91
3  Ronaldinho        91
4  Cristiano Ronaldo 91
5  Manuel Neuer      90
6  John Terry        90
7  Gianluigi Buffon  90
8  Lionel Messi      90
9  Luis Suarez       90
10 Kaka              90

top 10 goalkeepers by sum of gk attributes

In [6]:
sqldf("select names, gk_rating from players order by gk_rating desc")[1:10,]

   names             gk_rating
1  Gianluigi Buffon  449
2  Gregory Coupet    447
3  Petr Cech         445
4  Iker Casillas     442
5  Manuel Neuer      440
6  Julio Cesar       438
7  Sebastian Frey    437
8  Edwin van der Sar 436
9  David De Gea      429
10 Pepe Reina        428

top 10 players by number of appearances

In [7]:
sqldf("select names, appearances from players order by appearances desc")[1:10,]

   names                appearances
1  Steve Mandanda       300
2  Stephane Ruffier     293
3  Gorka Iraizoz Moreno 286
4  Samir Handanovic     286
5  Hugo Lloris          282
6  Joe Hart             275
7  Cedric Carrasso      268
8  Gareth Barry         258
9  Borja Valero         257
10 Manuel Neuer         255

 top 10 players by number of leagues they played in

In [8]:
sqldf("select names, leagues from players order by leagues desc")[1:10,]

   names                 leagues
1  Gelson Fernandes      6
2  Ricky van Wolfswinkel 5
3  Filip Djuricic        5
4  Radamel Falcao        4
5  Jonathan De Guzman    4
6  Almen Abdi            4
7  Ibrahim Afellay       4
8  Edson Braafheid       4
9  Eljero Elia           4
10 Danijel Pranjic       4

top 10 teams by sum of build up play attributes

In [9]:
sqldf("select team_long_name, buildUpPlay from teams order by buildUpPlay desc")[1:10,]

   team_long_name             buildUpPlay
1  Widzew Lódz                190
2  Widzew Lódz                190
3  Carpi                      190
4  Podbeskidzie Bielsko-Biala 189
5  FC Nantes                  189
6  Lazio                      188
7  Chievo Verona              187
8  Udinese                    185
9  Blackburn Rovers           185
10 Genoa                      184

 top 10 teams by sum of chance creation attributes

In [10]:
sqldf("select team_long_name, chanceCreation from teams order by chanceCreation desc")[1:10,]

   team_long_name         chanceCreation
1  Lazio                  220
2  Birmingham City        203
3  Falkirk                200
4  Hamilton Academical FC 197
5  Lech Poznan            196
6  Cagliari               196
7  Juventus               195
8  Bayer 04 Leverkusen    192
9  SV Werder Bremen       192
10 Roma                   191

 top 10 teams by sum of defense attributes

In [11]:
sqldf("select team_long_name, defence from teams order by defence desc")[1:10,]

   team_long_name      defence
1  Odra Wodzislaw      205
2  KSV Roeselare       205
3  Falkirk             200
4  FC Barcelona        191
5  Lazio               190
6  Cagliari            187
7  FC Bayern Munich    184
8  Bayer 04 Leverkusen 183
9  Burnley             183
10 SV Werder Bremen    183

 top 10 teams by number of scored goals

In [12]:
sqldf("select team_long_name, goals from teams order by goals desc")[1:10,]

   team_long_name    goals
1  FC Barcelona      849
2  Real Madrid CF    843
3  Celtic            695
4  FC Bayern Munich  653
5  PSV               652
6  Ajax              647
7  FC Basel          619
8  Manchester City   606
9  Chelsea           583
10 Manchester United 582