Reading RSQLite and dplyr libraries

In [74]:
library("RSQLite")

In [75]:
library(dplyr)

Reading DATABASE

In [76]:
my_db <- src_sqlite("database.sqlite")

In [77]:
my_db

src:  sqlite 3.11.1 [database.sqlite]
tbls: Country, League, Match, Player, Player_Attributes, sqlite_sequence, Team,
  Team_Attributes

Reading all tables to understand varaibles

In [78]:
country <- tbl(my_db, "Country")
league <- tbl(my_db, "League")
match <- tbl(my_db, "Match")
player <- tbl(my_db, "Player")
playerAtt <- tbl(my_db, "Player_Attributes")
sqliteSeq <- tbl(my_db, "sqlite_sequence")
team <- tbl(my_db, "Team")
teamAtt <- tbl(my_db, "Team_Attributes")

In [79]:
match

Source:   query [?? x 115]
Database: sqlite 3.11.1 [database.sqlite]

      id country_id league_id    season stage                date match_api_id
   <int>      <int>     <int>     <chr> <int>               <chr>        <int>
1      1          1         1 2008/2009     1 2008-08-17 00:00:00       492473
2      2          1         1 2008/2009     1 2008-08-16 00:00:00       492474
3      3          1         1 2008/2009     1 2008-08-16 00:00:00       492475
4      4          1         1 2008/2009     1 2008-08-17 00:00:00       492476
5      5          1         1 2008/2009     1 2008-08-16 00:00:00       492477
6      6          1         1 2008/2009     1 2008-09-24 00:00:00       492478
7      7          1         1 2008/2009     1 2008-08-16 00:00:00       492479
8      8          1         1 2008/2009     1 2008-08-16 00:00:00       492480
9      9          1         1 2008/2009     1 2008-08-16 00:00:00       492481
10    10          1         1 2008/2009    10 2008-11-01 00:00:00       492564
# ... with more rows, and 108 more variables: home_team_api_id <int>,
#   away_team_api_id <int>, home_team_goal <int>, away_team_goal <int>,
#   home_player_X1 <int>, home_player_X2 <int>, home_player_X3 <int>,
#   home_player_X4 <int>, home_player_X5 <int>, home_player_X6 <int>,
#   home_player_X7 <int>, home_player_X8 <int>, home_player_X9 <int>,
#   home_player_X10 <int>, home_player_X11 <int>, away_player_X1 <int>,
#   away_player_X2 <int>, away_player_X3 <int>, away_player_X4 <int>,
#   away_player_X5 <int>, away_player_X6 <int>, away_player_X7 <int>,
#   away_player_X8 <int>, away_player_X9 <int>, away_player_X10 <int>,
#   away_player_X11 <int>, home_player_Y1 <int>, home_player_Y2 <int>,
#   home_player_Y3 <int>, home_player_Y4 <int>, home_player_Y5 <int>,
#   home_player_Y6 <int>, home_player_Y7 <int>, home_player_Y8 <int>,
#   home_player_Y9 <int>, home_player_Y10 <int>, home_player_Y11 <int>,
#   away_player_Y1 <int>, away_player_Y2 <int>, away_player_Y3 <int>,
#   away_player_Y4 <int>, away_player_Y5 <int>, away_player_Y6 <int>,
#   away_player_Y7 <int>, away_player_Y8 <int>, away_player_Y9 <int>,
#   away_player_Y10 <int>, away_player_Y11 <int>, home_player_1 <int>,
#   home_player_2 <int>, home_player_3 <int>, home_player_4 <int>,
#   home_player_5 <int>, home_player_6 <int>, home_player_7 <int>,
#   home_player_8 <int>, home_player_9 <int>, home_player_10 <int>,
#   home_player_11 <int>, away_player_1 <int>, away_player_2 <int>,
#   away_player_3 <int>, away_player_4 <int>, away_player_5 <int>,
#   away_player_6 <int>, away_player_7 <int>, away_player_8 <int>,
#   away_player_9 <int>, away_player_10 <int>, away_player_11 <int>,
#   goal <chr>, shoton <chr>, shotoff <chr>, foulcommit <chr>, card <chr>,
#   cross <chr>, corner <chr>, possession <chr>, B365H <dbl>, B365D <dbl>,
#   B365A <int>, BWH <dbl>, BWD <dbl>, BWA <dbl>, IWH <dbl>, IWD <dbl>,
#   IWA <dbl>, LBH <dbl>, LBD <dbl>, LBA <dbl>, PSH <dbl>, PSD <dbl>,
#   PSA <dbl>, WHH <dbl>, WHD <dbl>, WHA <dbl>, SJH <dbl>, SJD <dbl>,
#   SJA <int>, VCH <dbl>, ...

In [80]:
league

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

      id country_id                     name
   <int>      <int>                    <chr>
1      1          1   Belgium Jupiler League
2   1729       1729   England Premier League
3   4769       4769           France Ligue 1
4   7809       7809    Germany 1. Bundesliga
5  10257      10257            Italy Serie A
6  13274      13274   Netherlands Eredivisie
7  15722      15722       Poland Ekstraklasa
8  17642      17642 Portugal Liga ZON Sagres
9  19694      19694  Scotland Premier League
10 21518      21518          Spain LIGA BBVA
# ... with more rows

In [81]:
match

Source:   query [?? x 115]
Database: sqlite 3.11.1 [database.sqlite]

      id country_id league_id    season stage                date match_api_id
   <int>      <int>     <int>     <chr> <int>               <chr>        <int>
1      1          1         1 2008/2009     1 2008-08-17 00:00:00       492473
2      2          1         1 2008/2009     1 2008-08-16 00:00:00       492474
3      3          1         1 2008/2009     1 2008-08-16 00:00:00       492475
4      4          1         1 2008/2009     1 2008-08-17 00:00:00       492476
5      5          1         1 2008/2009     1 2008-08-16 00:00:00       492477
6      6          1         1 2008/2009     1 2008-09-24 00:00:00       492478
7      7          1         1 2008/2009     1 2008-08-16 00:00:00       492479
8      8          1         1 2008/2009     1 2008-08-16 00:00:00       492480
9      9          1         1 2008/2009     1 2008-08-16 00:00:00       492481
10    10          1         1 2008/2009    10 2008-11-01 00:00:00       492564
# ... with more rows, and 108 more variables: home_team_api_id <int>,
#   away_team_api_id <int>, home_team_goal <int>, away_team_goal <int>,
#   home_player_X1 <int>, home_player_X2 <int>, home_player_X3 <int>,
#   home_player_X4 <int>, home_player_X5 <int>, home_player_X6 <int>,
#   home_player_X7 <int>, home_player_X8 <int>, home_player_X9 <int>,
#   home_player_X10 <int>, home_player_X11 <int>, away_player_X1 <int>,
#   away_player_X2 <int>, away_player_X3 <int>, away_player_X4 <int>,
#   away_player_X5 <int>, away_player_X6 <int>, away_player_X7 <int>,
#   away_player_X8 <int>, away_player_X9 <int>, away_player_X10 <int>,
#   away_player_X11 <int>, home_player_Y1 <int>, home_player_Y2 <int>,
#   home_player_Y3 <int>, home_player_Y4 <int>, home_player_Y5 <int>,
#   home_player_Y6 <int>, home_player_Y7 <int>, home_player_Y8 <int>,
#   home_player_Y9 <int>, home_player_Y10 <int>, home_player_Y11 <int>,
#   away_player_Y1 <int>, away_player_Y2 <int>, away_player_Y3 <int>,
#   away_player_Y4 <int>, away_player_Y5 <int>, away_player_Y6 <int>,
#   away_player_Y7 <int>, away_player_Y8 <int>, away_player_Y9 <int>,
#   away_player_Y10 <int>, away_player_Y11 <int>, home_player_1 <int>,
#   home_player_2 <int>, home_player_3 <int>, home_player_4 <int>,
#   home_player_5 <int>, home_player_6 <int>, home_player_7 <int>,
#   home_player_8 <int>, home_player_9 <int>, home_player_10 <int>,
#   home_player_11 <int>, away_player_1 <int>, away_player_2 <int>,
#   away_player_3 <int>, away_player_4 <int>, away_player_5 <int>,
#   away_player_6 <int>, away_player_7 <int>, away_player_8 <int>,
#   away_player_9 <int>, away_player_10 <int>, away_player_11 <int>,
#   goal <chr>, shoton <chr>, shotoff <chr>, foulcommit <chr>, card <chr>,
#   cross <chr>, corner <chr>, possession <chr>, B365H <dbl>, B365D <dbl>,
#   B365A <int>, BWH <dbl>, BWD <dbl>, BWA <dbl>, IWH <dbl>, IWD <dbl>,
#   IWA <dbl>, LBH <dbl>, LBD <dbl>, LBA <dbl>, PSH <dbl>, PSD <dbl>,
#   PSA <dbl>, WHH <dbl>, WHD <dbl>, WHA <dbl>, SJH <dbl>, SJD <dbl>,
#   SJA <int>, VCH <dbl>, ...

In [82]:
tbl(my_db, sql("select player, sum(app) as appearances from(
                SELECT home_player_3 as player, COUNT(*) AS app FROM Match GROUP BY home_player_3
                union all
                SELECT home_player_4 as player, COUNT(*) AS app FROM Match GROUP BY home_player_4
                order by player)
                group by player
               "))

Source:   query [?? x 2]
Database: sqlite 3.11.1 [database.sqlite]

   player appearances
    <int>       <int>
1      NA        2604
2    2752          37
3    2768          35
4    2977           3
5    3263           7
6    3316           1
7    3329          26
8    3441           3
9    4747          18
10   4863           3
# ... with more rows

Calculating number of appearances for each player

In [83]:
noOfApp <- data.frame(tbl(my_db, sql("SELECT player, sum(app) AS appearances FROM(
                SELECT home_player_1 as player, COUNT(*) AS app FROM Match GROUP BY home_player_1
                UNION
                SELECT home_player_2 as player, COUNT(*) AS app FROM Match GROUP BY home_player_2
                UNION
                SELECT home_player_3 as player, COUNT(*) AS app FROM Match GROUP BY home_player_3
                UNION
                SELECT home_player_4 as player, COUNT(*) AS app FROM Match GROUP BY home_player_4
                UNION
                SELECT home_player_5 as player, COUNT(*) AS app FROM Match GROUP BY home_player_5
                UNION
                SELECT home_player_6 as player, COUNT(*) AS app FROM Match GROUP BY home_player_6
                UNION
                SELECT home_player_7 as player, COUNT(*) AS app FROM Match GROUP BY home_player_7
                UNION
                SELECT home_player_8 as player, COUNT(*) AS app FROM Match GROUP BY home_player_8
                UNION
                SELECT home_player_9 as player, COUNT(*) AS app FROM Match GROUP BY home_player_9
                UNION
                SELECT home_player_10 as player, COUNT(*) AS app FROM Match GROUP BY home_player_10
                UNION
                SELECT home_player_11 as player, COUNT(*) AS app FROM Match GROUP BY home_player_11
                UNION
                SELECT away_player_1 as player, COUNT(*) AS app FROM Match GROUP BY away_player_1
                UNION
                SELECT away_player_2 as player, COUNT(*) AS app FROM Match GROUP BY away_player_2
                UNION
                SELECT away_player_3 as player, COUNT(*) AS app FROM Match GROUP BY away_player_3
                UNION
                SELECT away_player_4 as player, COUNT(*) AS app FROM Match GROUP BY away_player_4
                UNION
                SELECT away_player_5 as player, COUNT(*) AS app FROM Match GROUP BY away_player_5
                UNION
                SELECT away_player_6 as player, COUNT(*) AS app FROM Match GROUP BY away_player_6
                UNION
                SELECT away_player_7 as player, COUNT(*) AS app FROM Match GROUP BY away_player_7
                UNION
                SELECT away_player_8 as player, COUNT(*) AS app FROM Match GROUP BY away_player_8
                UNION
                SELECT away_player_9 as player, COUNT(*) AS app FROM Match GROUP BY away_player_9
                UNION
                SELECT away_player_10 as player, COUNT(*) AS app FROM Match GROUP BY away_player_10
                UNION
                SELECT away_player_11 as player, COUNT(*) AS app FROM Match GROUP BY away_player_11
                ORDER BY player)
                GROUP BY player
                ")))

In [84]:
noOfApp

      player appearances
1       NA   29257
2     2625      86
3     2752      81
4     2768      71
5     2770       8
6     2790      50
7     2796       1
8     2802     142
9     2805     126
10    2857       3
11    2862      13
12    2907       3
13    2973      11
14    2977       3
15    2983      70
16    2984      19
17    3140      35
18    3204      20
19    3263      11
20    3264       1
21    3316       3
22    3329      55
23    3377       1
24    3441      63
25    3512       4
26    3517      17
27    3520      63
28    4747      35
29    4863      25
30    4902      68
...   ...    ...
11032 701154  1
11033 703659  1
11034 704523  3
11035 705484  3
11036 706985  1
11037 710807  1
11038 715642  1
11039 716998  1
11040 717248  3
11041 717270  1
11042 717557  4
11043 719413  3
11044 720738  5
11045 721133 15
11046 722766 10
11047 723037  7
11048 725718  1
11049 726956  4
11050 728125  2
11051 728414  1
11052 728478  1
11053 730065  1
11054 733787  1
11055 742405  1
11056 743720  1
11057 744907  1
11058 746419  1
11059 748432  1
11060 750435  1
11061 750584  1

In [85]:
length(noOfApp[[1]])

[1] 11061

Calculating number of leagues for each player

In [86]:
leagues <- data.frame(tbl(my_db, sql("select player, count(*) as leagues from(
                select distinct player, league_id from (
                SELECT league_id, home_player_1 as player FROM Match
                union
                SELECT league_id, home_player_2 as player FROM Match
                union
                SELECT league_id, home_player_3 as player FROM Match
                union
                SELECT league_id, home_player_4 as player FROM Match
                union
                SELECT league_id, home_player_5 as player FROM Match
                union
                SELECT league_id, home_player_6 as player FROM Match
                union
                SELECT league_id, home_player_7 as player FROM Match
                union
                SELECT league_id, home_player_8 as player FROM Match
                union
                SELECT league_id, home_player_9 as player FROM Match
                union
                SELECT league_id, home_player_10 as player FROM Match
                union
                SELECT league_id, home_player_11 as player FROM Match
                union
                SELECT league_id, away_player_1 as player FROM Match
                union
                SELECT league_id, away_player_2 as player FROM Match
                union
                SELECT league_id, away_player_3 as player FROM Match
                union
                SELECT league_id, away_player_4 as player FROM Match
                union
                SELECT league_id, away_player_5 as player FROM Match
                union
                SELECT league_id, away_player_6 as player FROM Match
                union
                SELECT league_id, away_player_7 as player FROM Match
                union
                SELECT league_id, away_player_8 as player FROM Match
                union
                SELECT league_id, away_player_9 as player FROM Match
                union
                SELECT league_id, away_player_10 as player FROM Match
                union
                SELECT league_id, away_player_11 as player FROM Match
                )
               group by player, league_id)
               group by player")))

Reading sqldf library for performing sql queries on data frames

In [87]:
library(sqldf)

Calculating overall rating and gk rating for each player

In [88]:
rating <- data.frame(tbl(my_db, sql("select player_api_id as player, overall_rating, MAX(gk_rating) as gk_rating from (
               select player_api_id, overall_rating, (gk_diving + gk_handling + gk_kicking + gk_positioning + gk_reflexes) as gk_rating from Player_Attributes)
               group by player_api_id")))

Aggregating different variables of player in single table

In [89]:
temp <- sqldf("select rating.player, rating.overall_rating, rating.gk_rating, leagues.leagues
              from rating
              join leagues
              on rating.player=leagues.player")

In [90]:
temp1 <- sqldf("select temp.player, temp.overall_rating, temp.gk_rating, temp.leagues,   noOfApp.appearances
                  from temp
                  join noOfApp
                  on temp.player=noOfApp.player")

getting player name and adding it to main table

In [91]:
playernames <- data.frame(tbl(my_db, sql("select player_api_id, player_name from Player")))

In [92]:
player <- sqldf("select temp1.player, temp1.overall_rating, temp1.gk_rating, temp1.leagues,   temp1.appearances, playernames.player_name as names
                  from temp1
                  join playernames
                  on temp1.player=playernames.player_api_id")

calculating builupplay, chancecreation and defence aggression for each team

In [93]:
teamTemp <- data.frame(tbl(my_db, sql("select team_api_id, 
                (buildUpPlaySpeed + buildUpPlayDribbling + buildUpPlayPassing) as buildUpPlay,
                (chanceCreationPassing + chanceCreationCrossing + chanceCreationShooting) as chanceCreation,
                (defencePressure + defenceAggression + defenceTeamWidth) as defence
                from Team_Attributes")))

In [94]:
team

Source:   query [?? x 5]
Database: sqlite 3.11.1 [database.sqlite]

      id team_api_id team_fifa_api_id    team_long_name team_short_name
   <int>       <int>            <int>             <chr>           <chr>
1      1        9987              673          KRC Genk             GEN
2      2        9993              675      Beerschot AC             BAC
3      3       10000            15005  SV Zulte-Waregem             ZUL
4      4        9994             2007  Sporting Lokeren             LOK
5      5        9984             1750 KSV Cercle Brugge             CEB
6      6        8635              229    RSC Anderlecht             AND
7      7        9991              674          KAA Gent             GEN
8      8        9998             1747         RAEC Mons             MON
9      9        7947               NA     FCV Dender EH             DEN
10    10        9985              232 Standard de Liège             STL
# ... with more rows

Getting full name of each team from team_api_id

In [95]:
teamName <- data.frame(tbl(my_db, sql("select team_api_id, team_long_name from Team")))

aggregating different columns of team table

In [96]:
team <- sqldf("select teamTemp.team_api_id, teamTemp.buildUpPlay, teamTemp.chanceCreation, teamTemp.defence, teamName.team_long_name
                                    from teamTemp
                                    join teamName
                                    on teamTemp.team_api_id=teamName.team_api_id")

writing players table to csv file

In [97]:
write.csv(player, file = "players.csv")

In [98]:
tbl(my_db, sql("select * from Match"))

Source:   query [?? x 115]
Database: sqlite 3.11.1 [database.sqlite]

      id country_id league_id    season stage                date match_api_id
   <int>      <int>     <int>     <chr> <int>               <chr>        <int>
1      1          1         1 2008/2009     1 2008-08-17 00:00:00       492473
2      2          1         1 2008/2009     1 2008-08-16 00:00:00       492474
3      3          1         1 2008/2009     1 2008-08-16 00:00:00       492475
4      4          1         1 2008/2009     1 2008-08-17 00:00:00       492476
5      5          1         1 2008/2009     1 2008-08-16 00:00:00       492477
6      6          1         1 2008/2009     1 2008-09-24 00:00:00       492478
7      7          1         1 2008/2009     1 2008-08-16 00:00:00       492479
8      8          1         1 2008/2009     1 2008-08-16 00:00:00       492480
9      9          1         1 2008/2009     1 2008-08-16 00:00:00       492481
10    10          1         1 2008/2009    10 2008-11-01 00:00:00       492564
# ... with more rows, and 108 more variables: home_team_api_id <int>,
#   away_team_api_id <int>, home_team_goal <int>, away_team_goal <int>,
#   home_player_X1 <int>, home_player_X2 <int>, home_player_X3 <int>,
#   home_player_X4 <int>, home_player_X5 <int>, home_player_X6 <int>,
#   home_player_X7 <int>, home_player_X8 <int>, home_player_X9 <int>,
#   home_player_X10 <int>, home_player_X11 <int>, away_player_X1 <int>,
#   away_player_X2 <int>, away_player_X3 <int>, away_player_X4 <int>,
#   away_player_X5 <int>, away_player_X6 <int>, away_player_X7 <int>,
#   away_player_X8 <int>, away_player_X9 <int>, away_player_X10 <int>,
#   away_player_X11 <int>, home_player_Y1 <int>, home_player_Y2 <int>,
#   home_player_Y3 <int>, home_player_Y4 <int>, home_player_Y5 <int>,
#   home_player_Y6 <int>, home_player_Y7 <int>, home_player_Y8 <int>,
#   home_player_Y9 <int>, home_player_Y10 <int>, home_player_Y11 <int>,
#   away_player_Y1 <int>, away_player_Y2 <int>, away_player_Y3 <int>,
#   away_player_Y4 <int>, away_player_Y5 <int>, away_player_Y6 <int>,
#   away_player_Y7 <int>, away_player_Y8 <int>, away_player_Y9 <int>,
#   away_player_Y10 <int>, away_player_Y11 <int>, home_player_1 <int>,
#   home_player_2 <int>, home_player_3 <int>, home_player_4 <int>,
#   home_player_5 <int>, home_player_6 <int>, home_player_7 <int>,
#   home_player_8 <int>, home_player_9 <int>, home_player_10 <int>,
#   home_player_11 <int>, away_player_1 <int>, away_player_2 <int>,
#   away_player_3 <int>, away_player_4 <int>, away_player_5 <int>,
#   away_player_6 <int>, away_player_7 <int>, away_player_8 <int>,
#   away_player_9 <int>, away_player_10 <int>, away_player_11 <int>,
#   goal <chr>, shoton <chr>, shotoff <chr>, foulcommit <chr>, card <chr>,
#   cross <chr>, corner <chr>, possession <chr>, B365H <dbl>, B365D <dbl>,
#   B365A <int>, BWH <dbl>, BWD <dbl>, BWA <dbl>, IWH <dbl>, IWD <dbl>,
#   IWA <dbl>, LBH <dbl>, LBD <dbl>, LBA <dbl>, PSH <dbl>, PSD <dbl>,
#   PSA <dbl>, WHH <dbl>, WHD <dbl>, WHA <dbl>, SJH <dbl>, SJD <dbl>,
#   SJA <int>, VCH <dbl>, ...

Calculating goals of home team and away for each match and then adding it for each team

In [99]:
homeTeam <- data.frame(tbl(my_db, sql("select home_team_api_id as team_id, sum(home_team_goal) as goals from Match group by team_id")))

In [100]:
awayTeam <- data.frame(tbl(my_db, sql("select away_team_api_id as team_id, sum(away_team_goal) as goals from Match group by team_id")))

In [101]:
goals <- sqldf("select homeTeam.team_id as teamid, (homeTeam.goals + awayTeam.goals) as goals from homeTeam, awayTeam where homeTeam.team_id=awayTeam.team_id group by teamid")

Adding goals column to team data frame

In [102]:
team <- sqldf("select team.team_api_id, team.buildUpPlay, team.chanceCreation, team.defence, team.team_long_name, goals.goals
                                    from team
                                    join goals
                                    on team.team_api_id=goals.teamid
                                    group by team_api_id")

In [106]:
team

    team_api_id buildUpPlay chanceCreation defence team_long_name
1   1601        133         176            136     Ruch Chorzów
2   1773        153         157            137     Oud-Heverlee Leuven
3   1957        158         152            162     Jagiellonia Bialystok
4   2033        147         134            105     S.C. Olhanense
5   2182        147         196            153     Lech Poznan
6   2183         NA         131            139     P. Warszawa
7   2186        125         165            157     Cracovia
8   4087        149         164            140     Évian Thonon Gaillard FC
9   4170         NA         154            155     US Boulogne Cote D'Opale
10  6269        179         168            138     Novara
11  6351         NA         160            155     KAS Eupen
12  6391        153         163            141     GFC Ajaccio
13  6403        142         169            139     FC Paços de Ferreira
14  6413        136         165            181     PEC Zwolle
15  6421         NA         165             90     Leixões SC
16  6433        160         131            141     Go Ahead Eagles
17  6493         NA         148            138     AC Bellinzona
18  6547        147         146            121     FC Penafiel
19  6631        134         176            164     FC Dordrecht
20  7730        141         164            145     FC Lausanne-Sports
21  7788        136         134            138     SC Cambuur
22  7794        174         156            147     SC Bastia
23  7819        157         155            136     SM Caen
24  7841        157         177            153     Rio Ave FC
25  7842        167         139            150     Estoril Praia
26  7844        131         173            141     Vitória Guimarães
27  7869        141         171            129     Córdoba CF
28  7878        166         175            155     Granada CF
29  7943        182         169            138     Sassuolo
30  7955         NA         121            116     Neuchâtel Xamax
... ...         ...         ...            ...     ...
259  10211       NA         165            150     SC Beira Mar
260  10212      176         186            133     CS Marítimo
261  10214      167         150            141     CD Nacional
262  10215      150         166            138     Académica de Coimbra
263  10217      162         145            142     ADO Den Haag
264  10218      163         136            106     Excelsior
265  10219      142         133             99     RKC Waalwijk
266  10228      150         152            138     SC Heerenveen
267  10229      154         173            166     AZ
268  10233      184         134            127     Genoa
269  10235      131         146            129     Feyenoord
270  10238      149         158            132     Vitória Setúbal
271  10242      148         147            137     ES Troyes AC
272  10243      157         151            146     FC Zürich
273  10249      162         142            157     Montpellier Hérault SC
274  10251      148         139            124     Hibernian
275  10252      154         146            133     Aston Villa
276  10260      124         133            163     Manchester United
277  10261      152         147            131     Newcastle United
278  10264      145         166            120     SC Braga
279  10265      119         101            157     Wisla Kraków
280  10267      116         146            147     Valencia CF
281  10268      151         164            158     Elche CF
282  10269      155         172            117     VfB Stuttgart
283  10278      154         178            160     Hércules Club de Fútbol
284  10281      148         147            134     Real Valladolid
285 108893      156         138            158     AC Arles-Avignon
286 158085      170         160            113     FC Arouca
287 208931      190         160            115     Carpi
288 274581      150         150            140     Royal Excel Mouscron
    goals
1   280
2   126
3   287
4   138
5   372
6   184
7   235
8   180
9    31
10   34
11   28
12   37
13  292
14  204
15   55
16   74
17  128
18   29
19   24
20   99
21  119
22  165
23  220
24  248
25  167
26  300
27   22
28  179
29  141
30  171
... ...
259  93
260 316
261 332
262 240
263 366
264 154
265 153
266 470
267 492
268 392
269 489
270 238
271  71
272 468
273 344
274 259
275 335
276 582
277 324
278 398
279 332
280 484
281  65
282 415
283  36
284 170
285  21
286 101
287  37
288  71

writing teams table to csv file

In [107]:
write.csv(team, file = "teams.csv")